<%- include('partials/header') %>

  <h1>User infor</h1>

  <p>User ID:
    <%= userInfor._id %>
  </p>
  <p>Username:
    <%= userInfor.username %>
  </p>
  <p>Department:
  </p>

  <% if (userInfor.isAdmin===true) { %>
    <p>User privilege: Admin</p>
    <% } else { %>
      <p>User privilege: Normal User</p>
      <% } %>

        <h1>Projects</h1>

        <% projects.forEach((project)=>{ %>
          <p>
            <%= project %>
          </p>
          <% }) %>

            <h1>Users</h1>

            <% users.forEach((user)=>{ %>
              <p>
                <%= user %>
              </p>
              <% }) %>



                <%- include('partials/footer') %>